1

/*
 * font-color: #5D5F64
 * 
 * 
 */


*, a, span, ul, li, p, div, em, h1, h2, h3, h4, h5 {
    color: #5D5F64;
    font-family: 'Open Sans';
	
}
 
body, html {
    min-width: 320px;
    font-family: 'Open Sans';
}
 
.container-fluid {
    max-width: 880px;
    padding: 10px 0 0;
    min-width: 320px;
    font-family: 'Open Sans';
}
 
 
/* ==========---top menu---=============== */
#top_menu {
    float:right;
    font-weight:normal;
    line-height:14px;
    margin:0;
    padding:9px 0;
}
.menu li {
  padding-left:7px;
}
.menu li:last-child {
    border: none;
}
#top_menu a {
    color: #4a4c4f;
    font-size: 15px;
    font-weight: 600;
}
#top_menu img {
	width: 22px;
}
 
 
/* ---------- main menu ------------- */
.navbar-inverse {
    border-radius: 0px;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(top, #000, #66808A);
    background: -moz-linear-gradient(bottom, #000, #66808A);
    background: -webkit-linear-gradient(bottom, #000, #66808A);
    background: -o-linear-gradient(bottom, #000, #66808A);

}
.navbar-inverse li:hover, .navbar-brand:hover, .navbar-inverse li.open > a {
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(bottom, #000, #425c66);
    background: -moz-linear-gradient(top, #000, #425c66);
    background: -webkit-linear-gradient(top, #000, #425c66);
    background: -o-linear-gradient(top, #000, #425c66);
}
.navbar-inverse li a, .navbar-brand{
     
    padding-right: 22px;
    padding-left: 22px;
}
.navbar-brand {
    font-size: 14px;
    font-weight: normal;
}
.navbar-inverse li {
    border-left: 1px solid #232526;
}
.dropdown li:hover {
    background: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.dropdown-menu li:hover {
    background: #000;
    color: #fff;
}
 
.dropdown-menu > li > a {
    color: #fff;
}
 #accessories .dropdown-menu {
    min-height: 0;
}
/* popover */
.popover {
    height: 101%!important;
    min-height: 180px!important;
    top: -1px!important;
    background: #ececec; 
}
 
/* ==========--- main slider --- ========= */
 
.rsBullet span {
    background: #fff;
    border: solid 2px #202020;
}
 
.rsBullets {
    padding: 10px!important;
    position: absolute!important;
    bottom: 18%;
    width: 29%!important;
    margin: 0 0 0 33%!important;
}
 
.rsBullet .rsNavSelected span {
    bakground: #202020!important;
}
 
.bContainer img{
    position: absolute;
    top: 0;
    left: 0;
}
.bContainer a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.slider-title, .slider-subtitle {
    color: #5d5f64;
    font-size: 164%;
    font-weight: bold;
    position: absolute;
}   
 
.slider-subtitle {
    font-size: 1.6vw;
}
 
.slider-link {
    background: #e00;
    background: -moz-linear-gradient(top, #e00,#CE0404);
    background: -webkit-linear-gradient(top, #e00,#CE0404);
    background: -o-linear-gradient(top, #e00,#CE0404);
    font-size: 119%;
    font-weight: bolder;
    padding: 6px 16px;
    text-align: center;
    width: 22%;
    cursor: pointer;
    z-index: 1200!important;
}
 
.slide-1 .slider-title {
    left: 77%;
    position: absolute;
    top: 63%;
}
.slide-2 .slider-title {
    left: 74%;
    top: 36%;
}
.slide-3 .slider-title {
    left: 2%;
    top: 70%;
}
 
.slide-2 .slider-subtitle {
    font-size: 137%;
    top: 45%;
    left: 74%;
}
.slide-3 .slider-subtitle {
    font-size: 132%;
    left: 35%;
    top: 72.4%;
}
 
.slider-link {
    left: 74%;
    top: 73%;
}
.slide-3 .slider-link {
    left: 78%;
    top: 70%;
}
 
 
 
/* ==========--- main page content list --- ========= */
h1 {
    font-size: 2.2em;
    font-family: 'Open Sans';
}
h3 {
    font-size: 18px;
    margin: 0;
}
div > a {
    color: #5D5F64;
    font-weight: bold;
}
.row.main_product_list {
    margin: 0 auto;
    width: 100%;
}
.main_product_list img {
    margin: 0 auto;
}
.main_product_list div.hovered, div.product-hover  {
    background: #cecece;
    height: 234px;
    cursor: pointer;
}
 
.main_product_list div.gradient {
    background: rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(top , #C9C9C9, #b5b5b5);
    background: -webkit-linear-gradient(top , #C9C9C9, #b5b5b5);
    background: -o-linear-gradient(top , #C9C9C9, #b5b5b5);
    background: linear-gradient(top , #cecece, #b5b5b5) repeat scroll 0 0;
}
.main_product_list div.default-bg{
    background: #fff;
    font-size: 1.2em;
    position: relative;
    padding:0;
}
 
.main_product_list div.default-bg p {
    vertical-align: middle;
 
}
 
.main_product_list div p.monitor-descript {
    bottom:5px;
    font-size:16px;
    line-height:18px;
    margin:0;
    position:absolute;
    width:92%;
}
.product-hover {
    background: #222!important;
    color: #ddd;
    font-size: 2.6em;
    left: 0;
    right: 0;
    opacity: 0.85;
    padding: 2em 0 0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    visibility: hidden;
    width: 100%;
}
.product-hover hr {
    height: 1px;
    color: #ddd;
    width: 40%;
}
.subpanels{ 
    margin: 46px 0 11px 0!important;
    font-size: 17px;
    width: 98%;
}
.subpanels h3 {
    font-size: 22px;
}
.subpanels #col-right {
    line-height:23px;
    margin:33px 0;
    padding:0 0 0 33px; 
}
.subpanels #col-right a {
    color: #5D5F64;
    font-weight: bold;
}
.subpanels #col-right h3 {
    font-size: 17px;
}
 
 
 
 
/* ==========---footer---=============== */
#bottom_menu {
    background: none repeat scroll 0 0 #000;
    font-weight: bold;
    letter-spacing: -1px;
    padding: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
}
#bottom_menu a, #bottom_menu li {
    color: #fff;
}
#bottom_menu li{
    padding: 0 8px;
    border-left: solid 1px #fff;
    border-right: none;
}
#bottom_menu  li:first-child, #bottom_menu  li:last-child {
	border-left: none;
}

 
 
 
/* ==========---HELPERS---=============== */
.bold{
    font-weight: bold;
}
 
 
 
/* ================ PRODUCTS PAGE ============ */
 
 .rsDefaultInv .rsThumb img {
	height: auto;
 }
 
/* ----------- breadcrumb & social buttons -------- */
    .bread-social {
        margin: 0 auto!important;
        width: 96.9%;
        border-bottom: solid 1px #bbb;
        padding: 0 0 2px;
    }
    .bread-social > div:first-child {
        font-size:15px;
        margin:0;
        padding:0;
    }
    .breadcrumb {
        background: none;
        margin: 0;
    }
    .breadcrumb>li+li:before {
        content: '>';
    }
    #social {
        padding-top:12px;
    }
 
    #product_slider .rsNavSelected {
        border: solid 1px #000;
    }

	.rsDefaultInv .rsThumb {
		height: 5em;
	}
	.rsDefaultInv .rsThumb img {
		bottom: 0;
		height: auto;
		position: absolute;
    }
     
/* ----------- descrition ---------- */
    .main-product-description {
        font-size:17px;
        text-align:justify;
    }
    .main-product-description h1 {
        font-size:37px;
        padding:16px 0 0;
    }
    .second_row_description {
        margin-top: 17px;
        font-size:17px;
        line-height:22px;
    }
     
    .pdf-dn {
        display:block;
        margin:30px 0 0 15px;
    }
    .pdf-dn img {
        width: 22px;
        vertical-align:bottom;
    }
    .pdf-dn a {
        color: #5D5F64;
        padding: 0 0 0 11px;
    }
     
    .nav-tabs > li > a { 
        border: 1px solid #ccc;
        border-radius: 0;
        width: 99%;
        padding: 4px;
        background: #f9f9f9;
    }
    .nav-tabs > li.active > a {
     
    }
     
    .table tr, .table td {
        border: none!important;
        background: none!important;
    }
    .table tr:nth-child(2n) {
        background-color: #f9f9f9!important;
    }
    .table tr:nth-child(2n+1) {
        background: #fff;
    }
    .table tr>td {
        font-size:17px;
        line-height:27px !important;
    }
    .table tr>td:first-child {
        font-weight: bold;
    }
     
    /* -------- support page -------- */
    .support-warning {
        border: solid 5px #ccc;
        border-radius: 12px;
        margin-top: 16px;
        font-size: 19px;
        text-align: center;
        padding: 20px;
         
    }
    .support-bottom-block {
        padding: 12px;
        border-radius: 12px;
        border: solid 2px #ccc;
        margin-bottom: 12px;
    }
     
     
    /* =========helpers========== */
     
    .b {
        font-weight: bold;
    }
    .pad-10 {
        padding: 10px;
    }
    .pad-20 {
        padding: 20px 0;
    }
    .pad-50 {
        padding: 50px 0;
    }
    .col-2 {
        -webkit-columns:200px 2;
        -webkit-column-gap:2.2em;
        -webkit-column-rule: solid 1px #CCCCCC;     
        -moz-columns:200px 2;
        -moz-column-gap:2.2em;
        -moz-column-rule: solid 1px #CCCCCC;        
        -o-columns:200px 2;
        -o-column-gap:2.2em;
        -o-column-rule: solid 1px #CCCCCC;      
    }
    .fs-17 {
        font-size: 17px;
    }
    img.text-center {
        margin: 0 auto;
    }
 
 
/* ================ hz30WiG ============ */
.span-1 {
    color: #333;
    font-size: 19px;
    display: block;
}
.span-2 {
    color: #666;
    font-size: 18px;
    display: block;
}
#description {
    /*box-shadow: 0 3px 7px;*/
}
#description hr {
    background: none repeat scroll 0 0 #999;
    border: medium none;
    border-radius: 196px / 1px;
    height: 1px;
    line-height: 0;
    width: 88%;
}
 
#description img {
    margin: 0 auto;
}
.level-1 {
    position: relative;
}
 
.level-1 span {
    position: absolute;
}
.level-1 .span-1{
    right: 2.8vw;
    top: 15%;
    font-size: 1.5vw;
}
.level-1 .span-2{
    right: 2.8vw;
    top: 20%;
    font-size: 1.4vw;
}
 
.level-2 span {
    display: block;
}
.level-2 div:last-child {
    padding-top: 12px;
}
 
#description .level-8-1 > div > img {
    margin: 0;
}
 
.level-8 .span-3 {
    top: 42%;
    position: absolute;
}
.level-8-2 div {
    padding: 39px 0 0;
}
 
.level-10-1 div {
    padding: 25px;
}
 
.full-width div, .full-width {
    margin: 0;
    padding: 0;
}
.full-width img {
    width: 100%;
}
 
.tickList {
    list-style-type: square;
}
 
 
 
 
 
 
 
 
     
 
 
/* =================================== */
@media (min-width:768px){
    .row {
        margin: 0px;
    }
     
    .row.main_product_list {
        width: 96%;
    }
    #product_slider .rsOverflow {
        margin-left: 54px;
    }
    #product_slider .rsThumbsVer {
        left: 0;
        width: 15%;
    }
    .rsDefaultInv .rsThumb {
        border: 1px solid #ccc;
        width: 50px;
    }
    .navbar-brand {
        width: 100%;
    }
    .navbar-header {
        text-align:center;
        width:18%;
    }
    .navbar-nav {
        width:83%;
    }
    .nav > li {    
        text-align:center;
        width:25%;
    }
     
    .navbar-inverse, .navbar-inverse li, .navbar-brand {
        height: 30px;
    }
        .navbar-nav > li > a, .navbar-brand {
        line-height: 6px;
        padding: 12px;
        font-size: 13px;
        font-weight:bold;
        color: #222;
    }
    .dropdown-menu {
        text-align: left;
        min-height: 170px;
        background: #eee;
        border-radius: 0px;
        min-width: 100%;
    }
    .dropdown-menu li {
        background-color: #eaeaea;
        border-bottom: 2px solid #fff;
        border-left: medium none;
        color: #999;
        height: 40px;
        min-width: 169px;
    }
    .dropdown-menu > li:last-child { border-bottom: none;}
    .dropdown-menu > li > a { color: #655; line-height: 1.6em; font-size: 18px}   
    .dropdown-menu > li > a:hover { background: none; }
    .dropdown-menu li:hover {   background: #D3D3D3;}   
     
    #main-page-slider img.rsImg {
        width: 880px!important;
        margin: -1px 0 0!important;
    }
    .main_product_list div.default-bg span {
        position: absolute;
        bottom: 0px;
        background-color: #fff;
    }
    .main_product_list div.default-bg {
        height: 234px;
    }
     
    #description .r-pad {
        padding-right: 50px;
    }
    #description .l-pad {
        padding-left: 50px;
    }
    .other_pages {
        padding: 0 42px;
    }
}
 
    /* ---------- mobile 767px settings -------- */
@media (max-width:767px){ 

	.rsDefaultInv .rsThumb {
		height: 5em;
	}
	.container-fluid > .row:first-child {
		padding: 10px;
	}
    #bottom_menu {
        padding: 25px 0 65px;
        text-align: justify;
    }
    #bottom_menu li {
        border: none;
        padding: 9px 10px;
        text-align: center;
        text-transform: uppercase;
        float: none;
        width: 100%;
    }
    #top_menu {
        float: right;
		font-weight: normal;
		line-height: 19px;
		margin: 0 0 8%;
		padding: 0;
    }
	#top_menu .menu li {
		border: medium none;
		display: block;
		float: left;
		font-weight: bold;
		padding: 0 0 5px 16px;
		text-align: center;
    }
    #top_menu a {
		color: #4a4c4f;
		font-size: 15px;
		font-weight: 600;
	}
    .navbar-nav {
        overflow: hidden;
    }
    .row.main_product_list {
        width: 100%;
    }
    .main_product_list span p, .main_product_list span h3, .subpanels h3, .subpanels p  {
		padding: 10px;
    }
    
    
    .pdf-dn {
        margin:30px 0 30px 15px;
        text-decoration:underline;
    }
    .subpanels #col-right {
        margin: 0;
        padding: 0;
        width: 96%;
    }
    .default-bg, .no-pad {
        padding: 0;
 
    }
    body{
 
        margin: 0 auto;
    }
    .row {
        margin: 0;
    }
     
    #description .level-8-1 > div > img {
        margin: 0 auto;
    }
     
    .level-1 .span-1, .level-1 .span-2 {
        display: block;
        position: relative;
        width: 100%;
        text-align: center;
        top: 0;
        right: 0;
        font-size: 19px;
    }
    .slider-div {
        padding-right: 15px;
    }
    .slide-1 .slider-title {
        font-size: 2.9vw;
        left: 76%;
        top: 61%;
    }
    .slide-1 .slider-link {
        font-size: 2.5vw;
        padding: 4px;
        top: 70%;
        left: 74%;
    }
    .slide-2 .slider-link {
        font-size: 2.5vw;
        padding: 4px;
        top: 70%;
        left: 74%;
    }
    .slide-3 .slider-link {
        font-size: 2.5vw;
        padding: 3px 4px;
        top: 70%;
        left: 78%;
         
    }
     
    .slide-2 .slider-title {
        font-size: 2.6vw;
        left: 73%;
        top: 36%;
    }
 
    .slide-2 .slider-subtitle {
        font-size: 1.7vw;
        left: 73.9%;
        top: 45%;
    }
     
    .slide-3 .slider-title {
        font-size: 3.2vw;
        top: 71%;
    }
 
    .slide-3 .slider-subtitle {
        font-size: 2.1vw;
        top: 79%;
        left: 0;
    }
 
	.rsDefaultInv .rsBullet {
		display: inline-block;
		height: 5px;
		padding: 0 9px;
		width: 5px;
	}
	.row > div {
		padding-left: 0;
		padding-right: 0;
	}
	.row p, .row h1, .row h3, .row b, .row .span-1, .row .span-2 {
		padding: 0 10px;
	}
	.main_product_list div p.monitor-descript {
		width: 100%;
	}

}
