/* dCodes Framework:(c) TemplateAccess */



  /*********************************************************************************************
		-	SET THE SCREEN SIZES FOR THE BANNER IF YOU WISH TO MAKE THE BANNER RESOPONSIVE 	-	
  **********************************************************************************************/
  
  /*	-	THE BANNER CONTAINER (Padding, Shadow, Border etc. )	-	*/

  .rev_bannercontainer {	
		padding:5px;		
		background-color:#fff;
		width:890px;	
		position:relative;
		position:relative;	
		margin-left:auto;
		margin-right:auto;	
		
	
	}
 
  .rev_banner{		
		width:890px;
		height:490px;
		position:relative;
		overflow:hidden;			
   }

   
  /*	THE MEDIA CHOOSER TO SET DIFFERENT SIZES OF THE CONTAINER DEPENDING ON THE SCREEN SIZE    */
   @media only screen and (min-width: 768px) and (max-width: 959px) {		
		
 		  .rev_banner, .rev_bannercontainer			{	width:750px; height:412px;	}	
		  
   }
  
   @media only screen and (min-width: 480px) and (max-width: 767px) {

			.rev_banner, .rev_bannercontainer		{	width:470px; height:258px;	}		   		
		   
   }
   
   @media only screen and (min-width: 0px) and (max-width: 479px) {
			
			.rev_banner, .rev_bannercontainer		{	width:310px; height:170px;	}						
			 
   }


   
  
				

